.feed {
    /* This value should ideally match the other pages */
    flex: 0.5;
    /* below is to make only feed component scroll,not the entire page */
    overflow: scroll; 
}

/* hide scrollbar for webbrowser */
.feed::-webkit-scrollbar {
    display: none;
}
.feed {
    -ms-overflow-style: none;  /* IE and Edge*/
    scrollbar-width: none; /* firefox*/
}


