.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
}
.post_header {
    margin-top: 0;
}
.post_body > img{
    border-radius: 20px;
    width: 100%;
}
.post_body {
    flex:1;
    padding: 10px;
}
.post_headerDesription {
    margin-bottom: 10px;
    font-size: 20px;
}
.post_headerText > h3 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.post_mainText{
    font-size: 30px;
}

.post_headerUsername{
    color: grey;
}

.post_footer {
    display: flex;
}

.post_button {
    display: flex;
    margin-right: 20px;
}

.post_badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post_headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post_avatar{
    padding: 10px;
}