.searchResult {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
}
.searchResult_header {
    margin-top: 0;
}
.searchResult_body {
    flex:1;
    padding: 10px;
}
.searchResult_headerDesription {
    margin-bottom: 10px;
    font-size: 20px;
}
.searchResult_headerText > h3 {
    font-size: 20px;
}

.searchResult_headerUsername{
    color: grey;
}

.searchResult_avatar{
    padding: 10px;
}