.sidebarOption {
    
    display: flex; 
    align-items: center; 
    cursor: pointer;

}
.sidebarOption:hover {
    background-color: rgb(254, 251, 211);
    border-radius: 30px;
    color: rgb(255, 214, 52);
    transition: color 300ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption > h1 {
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active {
    color: rgb(255, 214, 52);
}